{{ form_start(form,{attr:{novalidate:'novalidate'}}) }}

<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Ajouter Hotel</h3>
    </div>
    <div class="card-body">

        <div class="form-group">
            <label class="col-sm-2 col-form-label">Nom hotel</label>
            {{ form_widget(form.Nom,{'attr':{'class': 'form-control','placeholder':'Nom hotel'}}) }}
            {{ form_errors(form.Nom,{'attr':{'class': 'text-danger'}}) }}
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Adresse</label>
            {{ form_widget(form.Adresse,{'attr':{'class': 'form-control','placeholder':'Adresse'}}) }}
            {{ form_errors(form.Adresse,{'attr':{'class': 'text-danger'}}) }}
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Complement adresse</label>
            {{ form_widget(form.Complement_adresse,{'attr':{'class': 'form-control','placeholder':'Complement adresse'}}) }}
            {{ form_errors(form.Complement_adresse,{'attr':{'class': 'text-danger'}}) }}
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Code postal</label>
            {{ form_widget(form.Code_postal,{'attr':{'class': 'form-control','placeholder':'Code postal'}}) }}
            {{ form_errors(form.Code_postal,{'attr':{'class': 'text-danger'}}) }}
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Ville</label>
            {{ form_widget(form.Ville,{'attr':{'class': 'form-control','placeholder':'Ville'}}) }}
            {{ form_errors(form.Ville,{'attr':{'class': 'text-danger'}}) }}
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Pays</label>
            {{ form_widget(form.Pays,{'attr':{'class': 'form-control'}}) }}
            {{ form_errors(form.Pays,{'attr':{'class': 'text-danger'}}) }}

        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Nb_etoile</label>
            {{ form_widget(form.Nb_etoile,{'attr':{'class': 'form-control','placeholder':'Nb d\'etoile'}}) }}
            {{ form_errors(form.Nb_etoile,{'attr':{'class': 'text-danger'}}) }}

        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Images</label>
            {{ form_widget(form.images,{'attr':{'class': 'form-control'}}) }}
            {{ form_errors(form.images,{'attr':{'class': 'text-danger'}}) }}
        </div>
        <button class="btn btn-success pull-right">{{ button_label|default('Save') }}</button>

    </div>
</div>

{{ form_end(form) }}