{% extends 'base.html.twig' %}

{% block title %}liste des hotels{% endblock %}

{% block body %}
    

    <!-- service start -->
    <div class="service-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-10">
                    <div class="single-service-wrap">
                        <div class="thumb">
                            <img src="{{ asset('assets/img/service/1.png') }}" alt="icon">
                        </div>
                        <div class="single-service-details">
                            <h4><a href="property-details.html">Hotel Reservation</a></h4>
                            <p>you find the best hotel price here .</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-10">
                    <div class="single-service-wrap">
                        <div class="thumb">
                            <img src="{{ asset('assets/img/service/2.png') }}" alt="icon">
                        </div>
                        <div class="single-service-details">
                            <h4><a href="property-details.html">Daily Apartment</a></h4>
                            <p>you find help 24 hour here .</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-10">
                    <div class="single-service-wrap mb-0">
                        <div class="thumb">
                            <img src="{{ asset('assets/img/service/3.png') }}" alt="icon">
                        </div>
                        <div class="single-service-details">
                            <h4><a href="property-details.html">Deals</a></h4>
                            <p>you find weekly deals here .</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-area pd-top-118 pd-bottom-90">
        <div class="container">
            <div class="section-title text-center">
                <h6>We are offring the best Deal</h6>
                <h2>Best Hotel For You</h2>
            </div>
            <div class="row justify-content-center">
                {% for hotel in hotels %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single-product-wrap">
                            <div class="thumb">
                                {% for image in hotel.images %}
                                    {% if loop.first %}
                                        <img width="1000" height="300"
                                             src="{{ asset('uploads/images/'~ image.chemain) }}" alt="img">
                                    {% endif %}
                                {% endfor %}
                                <a class="cat" href="{{ path('app_hotel_show',{'id':hotel.id}) }}">Voir les dètails</a>
                            </div>
                            <div class="product-wrap-details">
                                <div class="media">
                                    <div class="author">
                                        <img src="{{ asset('assets/img/author/1.png') }}" alt="img">
                                    </div>
                                    <div class="media-body">
                                        <h6><a href="#">Owner Name</a></h6>
                                        <p><img src="{{ asset('assets/img/icon/location-alt.png') }}" alt="img">
                                            {{ hotel.adresse }},
                                            {% if  hotel.complementAdresse %}
                                                {{ hotel.complementAdresse }},
                                            {% endif %}
                                            {{ hotel.codePostal }}, {{ hotel.ville }}
                                        </p>
                                    </div>
                                    <a class="fav-btn float-right" href="#"><i class="far fa-heart"></i></a>
                                </div>
                                <div class="product-meta">
                                    <span class="price">DT 500</span>
                                    <div class="float-right d-inline-block">
                                        <ul>
                                            <li><img src="{{ asset('assets/img/icon/triangle.png') }}" alt="img">2</li>
                                            <li><img src="{{ asset('assets/img/icon/bed.png') }}" alt="img">3</li>
                                            <li><img src="{{ asset('assets/img/icon/wall.png') }}" alt="img">1026 sq ft
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
