{% extends 'base.html.twig' %}

{% block title %}liste des hotels{% endblock %}

{% block body %}

    <div class="product-area pd-top-118 pd-bottom-90">
        <div class="container">
            <div class="section-title text-center">
                <h6>We are offring the best real estate</h6>
                <h2>Best House For You</h2>
            </div>
            <div class="row justify-content-center">
                {% for hotel in hotels %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single-product-wrap">
                            <div class="thumb">
                                {% for image in hotel.images %}
                                    {% if loop.first %}
                                        <img width="1000" height="200" src="{{ asset('uploads/images/'~ image.chemain) }}" alt="img">
                                    {% endif %}
                                {% endfor %}
                                <a class="cat" href="#">Voir les dètails</a>
                            </div>
                            <div class="product-wrap-details">
                                <div class="media">
                                    <div class="author">
                                        <img src="{{ asset('assets/img/author/1.png') }}" alt="img">
                                    </div>
                                    <div class="media-body">
                                        <h6><a href="#">Owner Name</a></h6>
                                        <p><img src="{{ asset('assets/img/icon/location-alt.png') }}" alt="img">
                                            {{ hotel.adresse }},
                                            {% if  hotel.complementAdresse %}
                                                {{ hotel.complementAdresse }},
                                            {% endif %}
                                            {{ hotel.codePostal }}, {{ hotel.ville }}
                                        </p>
                                    </div>
                                    <a class="fav-btn float-right" href="#"><i class="far fa-heart"></i></a>
                                </div>
                                <div class="product-meta">
                                    <span class="price">DT 500</span>
                                    <div class="float-right d-inline-block">
                                        <ul>
                                            <li><img src="{{ asset('assets/img/icon/triangle.png') }}" alt="img">2</li>
                                            <li><img src="{{ asset('assets/img/icon/bed.png') }}" alt="img">3</li>
                                            <li><img src="{{ asset('assets/img/icon/wall.png') }}" alt="img">1026 sq ft
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
