{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
 
<center><h1 class="h3 mb-3 font-weight-normal">Please sign in</h1></center>
<form method="post" >
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    
    <label for="inputEmail">Email</label>
    <input type="email" placeholder="enter your email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" placeholder="enter your password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
     {#<div class="mb-3">
        <a href="{{ path('app_forgot_password_request') }}">Forgot password?</a>
        </div>#}
     
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}<br>
    
<center>
    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button><br>
     <a href="{{ path('app_forgot_password_request') }}">Forgot password?</a>
  </center>
</form><br>
  {#<a href="{{ path('connect_google') }}">connect with google </a>#}
   <div class="col-md-12"> <a href="{{ path('connect_google') }}" class="btn btn-lg btn-google btn-block text-uppercase btn-outline" href="#"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Signup Using Google</a> </div>
{% endblock %}
