{% extends 'baseBackOffice.html.twig' %}

{% block title %}Equipement index{% endblock %}

{% block body %}
    <h1>Equipement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipement in equipements %}
            <tr>
                <td>{{ equipement.id }}</td>
                <td>{{ equipement.Nom }}</td>
                <td>
                    <form method="post" action="{{ path('app_equipement_delete', {'id': equipement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipement.id) }}">
                        <button class="btn btn-danger pull-right">{{ button_label|default('Delete') }}</button>
                    </form>
                    <a href="{{ path('app_equipement_edit', {'id': equipement.id}) }}">
                        <button class="btn btn-success pull-right">{{ button_label|default('Update') }}</button>
                    </a>
                </td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_equipement_new') }}"><button class="btn btn-success pull-right">{{ button_label|default('Create') }}</button></a>
{% endblock %}
