{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

    <div class="product-area pd-top-118 pd-bottom-90">
        <div class="container">
            <div class="section-title text-center">
                <h6>We are offring the best real estate</h6>
                <h2>Best House For You</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single-product-wrap">
                        <div class="thumb">
                            <img src="{{ asset('assets/img/product/1.png') }}" alt="img">
                            <a class="cat" href="property-details.html">For Sell</a>
                        </div>
                        <div class="product-wrap-details">
                            <div class="media">
                                <div class="author">
                                    <img src="{{ asset('assets/img/author/1.png') }}" alt="img">
                                </div>
                                <div class="media-body">
                                    <h6><a href="#">Owner Name</a></h6>
                                    <p><img src="{{ asset('assets/img/icon/location-alt.png') }}" alt="img">New York real estate </p>
                                </div>
                                <a class="fav-btn float-right" href="#"><i class="far fa-heart"></i></a>
                            </div>
                            <div class="product-meta">
                                <span class="price">$ 80,650.00</span>
                                <div class="float-right d-inline-block">
                                    <ul>
                                        <li><img src="{{ asset('assets/img/icon/triangle.png') }}" alt="img">2</li>
                                        <li><img src="{{ asset('assets/img/icon/bed.png') }}g" alt="img">3</li>
                                        <li><img src="{{ asset('assets/img/icon/wall.png') }}" alt="img">1026 sq ft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-product-wrap">
                        <div class="thumb">
                            <img src="{{ asset('assets/img/product/2.png') }}" alt="img">
                            <a class="cat" href="property-details.html">For Sell</a>
                        </div>
                        <div class="product-wrap-details">
                            <div class="media">
                                <div class="author">
                                    <img src="{{ asset('assets/img/author/2.png') }}" alt="img">
                                </div>
                                <div class="media-body">
                                    <h6><a href="#">Owner Name</a></h6>
                                    <p><img src="{{ asset('assets/img/icon/location-alt.png') }}" alt="img">New York real estate </p>
                                </div>
                                <a class="fav-btn float-right" href="#"><i class="far fa-heart"></i></a>
                            </div>
                            <div class="product-meta">
                                <span class="price">$ 80,650.00</span>
                                <div class="float-right d-inline-block">
                                    <ul>
                                        <li><img src="{{ asset('assets/img/icon/triangle.png') }}" alt="img">2</li>
                                        <li><img src="{{ asset('assets/img/icon/bed.png') }}" alt="img">3</li>
                                        <li><img src="{{ asset('assets/img/icon/wall.png') }}" alt="img">1026 sq ft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-product-wrap">
                        <div class="thumb">
                            <img src="{{ asset('assets/img/product/3.png') }}" alt="img">
                            <a class="cat" href="property-details.html">For Sell</a>
                        </div>
                        <div class="product-wrap-details">
                            <div class="media">
                                <div class="author">
                                    <img src="{{ asset('assets/img/author/3.png') }}" alt="img">
                                </div>
                                <div class="media-body">
                                    <h6><a href="#">Owner Name</a></h6>
                                    <p><img src="{{ asset('assets/img/icon/location-alt.png') }}g" alt="img">New York real estate </p>
                                </div>
                                <a class="fav-btn float-right" href="#"><i class="far fa-heart"></i></a>
                            </div>
                            <div class="product-meta">
                                <span class="price">$ 80,650.00</span>
                                <div class="float-right d-inline-block">
                                    <ul>
                                        <li><img src="{{ asset('assets/img/icon/triangle.png') }}" alt="img">2</li>
                                        <li><img src="{{ asset('assets/img/icon/bed.png') }}" alt="img">3</li>
                                        <li><img src="{{ asset('assets/img/icon/wall.png') }}" alt="img">1026 sq ft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
