
{% extends 'baseBackOffice.html.twig' %}
{%  block body %}
    {% block header %}
    {% endblock %}
<br>

    <div class="row">
        <div class="col-md-7">
            <img src="{{ asset('uploads/images/'~ evenement.Img) }}" alt="{{ evenement.Nom }}" class="img-fluid">
        </div>
        <div class="col-md-5 my-auto">
            <h3>{{ evenement.Nom }}</h3>
            <p> Category :   {{ evenement.Category }}</p>
            <span class="product-page-price">{{ (evenement.Prix / 1)|number_format(2, ',', '.') }} €</span>
            <hr>
            <p>
                {{ evenement.Description }}
            </p>


            <h5><i class='fas fa-hourglass-end'  > {{  evenement.DateDebut ? evenement.DateDebut|date('Y-m-d') : ''  }} </i> To
                <i class='fas fa-hourglass-end'  > {{  evenement.DateFin ? evenement.DateFin|date('Y-m-d') : ''  }} </i>
            </h5>




        </div>
    </div>
    <br>
    {{ include('evenement/_delete_form.html.twig') }}
    </div><!-- /.row -->







{% endblock %}
