
{% extends 'baseBackOffice.html.twig' %}
{%  block body %}
    {#  <h1>Evenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evenement.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ evenement.Nom }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ evenement.Type }}</td>
            </tr>
            <tr>
                <th>Date_debut</th>
                <td>{{ evenement.DateDebut ? evenement.DateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_fin</th>
                <td>{{ evenement.DateFin ? evenement.DateFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ evenement.Prix }}</td>
            </tr>
            <tr>
                <th>Nombre_Participants</th>
                <td>{{ evenement.NombreParticipants }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ evenement.Description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_evenement_index') }}">back to list</a>

    <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}">edit</a>

   {{ include('evenement/_delete_form.html.twig') }}






#}
<br>
    <br>
    <div class="row">
        <div class="col-md-5">


             <img  src=" {{ asset('uploads/images/'~ evenement.Img) }}" alt="img" class="img-fluid" style="  height:70%;" >

        </div>
        <div class="col-md-7 my-auto">
            <h3>{{ evenement.Nom}}</h3>
            <p>gtrfvfvvvvvvvvvvvvvvvvvvvv</p>
            <span class="product-page-price">{{ (evenement.Prix / 100)|number_format(2, ',', '.') }} €</span>
            <hr>
             <p> {{ evenement.Description }}</p>
            <h3>{{ evenement.Nom}}</h3>
            <p></p>
            <span class="start-date">{{ evenement.DateDebut ? evenement.DateDebut|date('Y-m-d') : '' }}  TO
          {{ evenement.DateDebut ? evenement.DateDebut|date('Y-m-d') : '' }} </span>
            <p>

            </p>
            <a href="" class="btn btn-primary">Reserver Cette evenement</a>
        </div>
    </div>
    <hr>
    <h3>Nos meilleures ventes</h3>
    <p>Découvrez les articles les plus vendus.</p>
    <div class="row">
            <div class="col-md-3">
                <a href="{{ path('app_evenement_index') }}">back to list</a>

                <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}">edit</a>

                {{ include('evenement/_delete_form.html.twig') }}
            </div>

    </div><!-- /.row -->










{% endblock %}
