
{% extends 'base.html.twig' %}
{% block title %} Détaill evenement!{% endblock %}

   {% block banner %}
   {% endblock %}
{% block servcie %}
{% endblock %}
{% block body %}

    <br>


    <div class="row">
        <div class="col-md-7">
            <img src="{{ asset('uploads/images/'~ evenement.Img) }}" alt="{{ evenement.Nom }}" class="img-fluid">
        </div>
        <div class="col-md-5 my-auto">
            <h3>{{ evenement.Nom }}</h3>
            <p>{{ evenement.Category }}</p>
            <span class="product-page-price">{{ (evenement.Prix / 1)|number_format(2, ',', '.') }} €</span>
            <hr>
            <p>
                {{ evenement.Description }}
            </p>


            <br>

            <h5><i class='fas fa-hourglass-end'  > {{  evenement.DateDebut ? evenement.DateDebut|date('Y-m-d') : ''  }} </i> =>
                <i class='fas fa-hourglass-end'  > {{  evenement.DateFin ? evenement.DateFin|date('Y-m-d') : ''  }} </i>
            </h5>
            <br>


            <button class="btn-success" onclick="yourlink()">Reserver Cette evenement </button>

            <script>

                function yourlink() {

                    var locs = [" {{ path('app_ress', {'id': evenement.id}) }}",
                        " {{ path('Add_cart_event', {'id': evenement.id}) }}"]

                    for (let i = 0; i < locs.length; i++) {
                        window.open(locs[i])}
                };

            </script>

<br>
            <br>



{#
            <a href=" {{ path('app_ress', {'id': evenement.id}) }}"class="btn btn-primary">Reserver Cette Evenemenet</a>
            <a href=" {{ path('Add_cart_event', {'id': evenement.id}) }}"class="btn btn-primary">  Panier Evenemenet</a>


#}

          <a href=" {{ path('DeleteRR', {'id': evenement.id }) }}"  class="btn-danger">  Annuler la reservation</a>



        </div>
    </div>
    <hr>

    <div class="row">
        {#  {% for product in products %}
            <div class="col-md-3">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %} #}
    </div><!-- /.row -->









{% endblock %}