
{% extends 'base.html.twig' %}
{%  block body %}

    <br>
    {#

    {{ app.user.id}}
    <br>
    <div class="row">
        <div class="col-md-5">


             <img  src=" {{ asset('uploads/images/'~ evenement.Img) }}" alt="img" class="img-fluid" style="  height:70%;" >

        </div>
        <button class="col-md-7 my-auto">
            <h3>{{ evenement.Nom}}</h3>
            <p></p>
            <span class="product-page-price">{{ (evenement.Prix / 100)|number_format(2, ',', '.') }} €</span>
            <hr>
             <p> {{ evenement.Description }}</p>
            <h3>{{ evenement.Nom}}</h3>
            <p></p>
            <span class="start-date">{{ evenement.DateDebut ? evenement.DateDebut|date('Y-m-d') : '' }}  TO
          {{ evenement.DateDebut ? evenement.DateDebut|date('Y-m-d') : '' }} </span>
            <p>

            </p>
            {% for message in app.flashes('success') %}
            <div class="aler alert-success">
                {{ message }}
            </div>
            {% endfor %}


            <a href=" {{ path('app_ress', {'id': evenement.id}) }}"> <button type="button" class="btn-success" > Reserver Cette </button></a><br>
{#<a href="{{ path('app_reservation_evenement_new') }}"> <button type="button" class="btn-success" > Reserver Cette evenement   </button></a> #}
    {#
    </div>
    <hr>
    <h3>Nos meilleures ventes</h3>
    <p>Découvrez les articles les plus vendus.</p>
    <div class="row">
            <div class="col-md-3">
                <button type="button" class="btn btn-secondary">
                <a href="{{ path('app_evenement_index') }}">back to list</a> </button>
                <button type="button" class="btn btn-secondary">
                <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}">edit</a> </button>

                {{ include('evenement/_delete_form.html.twig') }}
            </div>

    </div><!-- /.row -->


    #}

    <div class="row">
        <div class="col-md-7">
            <img src="{{ asset('uploads/images/'~ evenement.Img) }}" alt="{{ evenement.Nom }}" class="img-fluid">
        </div>
        <div class="col-md-5 my-auto">
            <h3>{{ evenement.Nom }}</h3>
            <p>{{ evenement.Category }}</p>
            <span class="product-page-price">{{ (evenement.Prix / 100)|number_format(2, ',', '.') }} €</span>
            <hr>
            <p>
                {{ evenement.Description }}
            </p>

            <button onclick="yourlink()">dfsqqqqffdfdfdfde</button>

            <script>

                function yourlink() {

                    var locs = [" {{ path('app_ress', {'id': evenement.id}) }}",
                        " {{ path('Add_cart_event', {'id': evenement.id}) }}"]

                    for (let i = 0; i < locs.length; i++) {
                        window.open(locs[i])}
                };

            </script>

<br>
            <br>




            <a href=" {{ path('app_ress', {'id': evenement.id}) }}"class="btn btn-primary">Reserver Cette Evenemenet</a>
            <a href=" {{ path('Add_cart_event', {'id': evenement.id}) }}"class="btn btn-primary">  Panier Evenemenet</a>








            <a href=" {{ path('DeleteR', {'id': evenement.id }) }}"class="btn btn-primary">  Delete the motherfucker</a>




        </div>
    </div>
    <hr>
    <h3>Nos meilleures ventes</h3>
    <p>Découvrez les articles les plus vendus.</p>
    <div class="row">
        {#  {% for product in products %}
            <div class="col-md-3">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %} #}
    </div><!-- /.row -->







{% endblock %}
