{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
<div class="row custom-gutters-6">
    <div class="col-md-12">
        <label>Post</label><br>
        {{ form_widget(form.post,{'attr':{'class':'flex-nowrap'}}) }}
        {{ form_errors(form.post, {'attr':{'class':'text-danger'}}) }}
    </div>
</div>
<div class="col-md-6">
    <div class="single-select-inner">
        <label>Body</label>
        {{ form_widget(form.body,{'attr':{'class':'flex-nowrap'}}) }}
        {{ form_errors(form.body, {'attr':{'class':'text-danger'}}) }}
    </div>
</div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
