{{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Ajouter Chambre</h3>
    </div>
    <div class="card-body">


        <div class="form-group">
            <label class="col-sm-2 col-form-label">type</label>
            {{ form_widget(form.Type,{'attr':{'class': 'form-control','placeholder':'Adresse'}}) }}
            {{ form_errors(form.Type,{'attr':{'class': 'text-danger'}}) }}
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Hotel</label>
            {{ form_widget(form.ID_hotel,{'attr':{'class': 'form-control','placeholder':'Complement adresse'}}) }}
            {{ form_errors(form.ID_hotel,{'attr':{'class': 'text-danger'}}) }}
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">disponibilité</label>
            {{ form_widget(form.Disponibilite,{'attr':{'class': 'form-control','placeholder':'Nom hotel'}}) }}
            {{ form_errors(form.Disponibilite,{'attr':{'class': 'text-danger'}}) }}
        </div>

        <button class="btn btn-success pull-right">{{ button_label|default('Save') }}</button>

    </div>

</div>

{{ form_end(form) }}