{% extends 'base.html.twig' %}
{#{% extends 'baseBackOffice.html.twig' %}#}
{% block Stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/reservation.css') }}">
{% endblock %}
{% block title %}Chambre index{% endblock %}

{% block body %}
    <h1>Chambre index</h1>
    <p>Date Arrivee:{{  dateA|date("m/d/Y") }}</p>
    <p>Date Depart:{{ dateD|date("m/d/Y") }}</p>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Prix Standard</th>
            {#            <th>actions</th>#}
            <th>Panier</th>
        </tr>
        </thead>
        <tbody>
        {% for chambre in chambres %}
            <tr>
                <td>{{ chambre.id }}</td>
                <td>{{ chambre.Type }}</td>
                <td>{{ chambre.Prixnuite }}</td>
                {#                <td>#}
                {#                    <a href="{{ path('app_chambres_show', {'id': chambre.id}) }}">show</a>#}
                {#                    <a href="{{ path('app_chambres_edit', {'id': chambre.id}) }}">edit</a>#}
                {#                </td>#}
                <td><a href="{{ path('addP', {'id': chambre.id,'da':da,'dd':dd,'type':type}) }}">Ajouter</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas de Chambres Trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('panier', {'da':da,'dd':dd}) }}">
        <button type="submit" class="rounded-button mt-0">Consulter Panier</button>
    </a>
{% endblock %}
